<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
	<link rel="icon" href="/static/favicon.ico">
	<link rel="stylesheet" type="text/css" media="screen and ( min-width:769px )" href="{{ url_for('static', filename='css/style_pc.css') }}">
	<link rel="stylesheet" type="text/css" media="screen and ( max-width:768px )" href="{{url_for('static',filename='css/style_sp.css')}}">

    <!-- かまくらからの連想で制作ではomochiってよんでます -->

    <title>HOUKAGO no KAMAKURA</title>

    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.fadethis.min.js"></script>

    <!-- drawer.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
    <!-- jquery & iScroll -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
    <!-- drawer.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>

    <script type="text/javascript" src="/static/js/common.js"></script>


</head>
<body class="drawer drawer--right">
    <div id="wrapper">
    <header>
        <p id="title"><img id="icon" src="/static/favicon.ico">HOUKAGO no KAMAKURA</p>

    </header>

    {% block content %}
	{% endblock %}

    
    <footer>
        <div id="footer">
            <a href="https://twitter.com/kyoroasa"><img class="tw" src="/static/sozai/kurokyoro.png" alt=""></a>
            <a href="https://twitter.com/hnzgraph"><img class="tw" src="/static/sozai/HNZTKC.jpg" alt=""></a>
            <a href="https://twitter.com/kokiti17"><img class="tw" src="/static/sozai/Twitter Social Icons/Twitter Social Icons/Twitter_SocialIcon_Circle/Twitter_Social_Icon_Circle_Color.png" alt=""></a>
        </div>
	</footer>
    </div>

</body>
</html>